<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.tuthospitalmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagement">
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPatientsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".SetAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PatientActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".PatientRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>